* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  /* border: 1px solid green; */
}

.wholeReminder {
  border-radius: 30px;
  background-color: rgb(111, 13, 208);
  background-color: rgb(232, 94, 232);
  background-color: linear-gradient(to top, red, blue);
}
.buttonDiv {
  border: 1px solid red;
  display: block;
}
.form {
  display: flex;
  text-align: center;
}
label {
  margin: 0 auto;
  text-align: center;
}
.formTitle {
  text-align: center;
  color: rgb(31, 89, 235);
  font-size: 32px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}
.nameTag,
.ageTag,
.monthTag,
.urlTag {
  font-style: lucida;
  font-weight: bold;
}
.submitButton {
  /* margin-left: 20px; */
  display: inline;
}
body {
  display: flex;
  justify-content: center;
}
.addButton {
  margin-top: 10px;
  border-radius: 10px;
  padding: 10px 20px;
  background-color: rgb(31, 89, 235);
  margin-left: 20px;
  color: white;
  font-weight: bold;
}
.container {
  display: flex;
  /* flex-direction: row; */
  /* margin: 0 auto; */
  /* justify-content: right; */
}
.container > .right {
  flex-grow: 1;
}

.left {
  /* align-items: flex-end; */
}
.left > div,
.right > div {
  margin: 5px 0;
  height: 1.5em;
}
div.right > div:nth-child(3n-1) input {
  width: 50%;
}

.right > div {
  max-width: 250px;
}
.right > div > input {
  color: red;
  min-width: 250px;
  display: inline;
}
input {
  border: 1px solid;
  font-size: inherit;
}
.headerDiv {
  background-color: rgb(31, 89, 235);
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  padding: 1px 30px;
  margin-top: 10px;
  color: white;
}
.personCard {
  display: flex;
  background-color: white;
  border-radius: 35px;
  margin: 10px auto;
  padding: 10px;
  min-width: 400px;
}

.picNDetailsDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.imageDiv {
}
.images {
  object-fit: cover;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: none;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
}
.deleteDiv {
  margin: 15px 0px 10px;
}
.deleteButton {
  padding: 4px;
  border-radius: 7px;
  background-color: none;
  color: blue;
  border: blue 1px solid;
  transition: color 0.2s, border 0.2s, transform 0.3s, box-shadow 0.2s;
}
.deleteButton:hover {
  color: red;
  border: 1px solid red;
  transform: translateY(-3px);
  box-shadow: 0px 4px 3px 3px red;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: 1px red solid; */
}

.details > h4 {
  margin-left: 0;
}

.labelName {
  color: rgb(31, 89, 235);
  margin: 0 auto;
}
.labelAge {
  color: red;
  margin: 0 auto;
}
.labelMonth {
  color: rebeccapurple;
  margin: 0 auto;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.App-link {
  color: #61dafb;
}
.clearButtonContainer {
  text-align: center;
  margin: 10px;
}
.clearButton {
  margin: 10px 0px;
  text-align: center;
  border: solid 1px rgb(232, 94, 232);
  border-radius: 30px;
}
.buttonToClear {
  background-color: rgb(31, 89, 235);
  padding: 10px 60px;
  color: red;
  font-weight: bold;
  font-size: 20px;
  border-radius: 30px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
